<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.dzl.dao.BooksMapper">
    <resultMap type="com.dzl.pojo.Books" id="books-result">
    <id property="red" column="red"/>
    <result property="pname" column="pname"/>
    <result property="idcard" column="idcard"/>
    <result property="medcard" column="medcard"/>
    <result property="dename" column="dename"/>
    <result property="doname" column="doname"/>
    <result property="bdate" column="bdate"/>
    <result property="bcost" column="bcost"/>
    <result property="phone" column="phone"/>
     <result property="starttime" column="starttime"/>
    </resultMap>
     <resultMap type="com.dzl.pojo.Tickets" id="ticket-result">
     <id property="rid" column="rid"/>
     <result property="cid" column="cid"/>
      <result property="bid" column="bid"/>
       <result property="snum" column="snum"/>
        <result property="state" column="state"/>
    </resultMap>
    <select id="findAll" resultMap="books-result">
    select red,pname,idcard,phone,medcard,dename,doname,bdate,bcost,starttime
	from patients p,doctors do,departs de,reservation r,bookable b
	where r.pid=p.pid and b.doid=do.doid and do.deid=de.deid and
	b.bid=r.bid and bdate=trunc(sysdate) and starttime=#{starttime}
	and r.state=#{state}
	<if test="idcard != null">and idcard = #{idcard}</if>
    </select>
    
    <select id="findById" parameterType="int" resultMap="books-result">
    select red,b.bid,pname,idcard,phone,medcard,dename,doname,bdate,bcost,starttime
	from patients p,doctors do,departs de,reservation r,bookable b
	where r.pid=p.pid and b.doid=do.doid and do.deid=de.deid and
	b.bid=r.bid and red=#{red}
    </select>
    
    <select id="getSnum"  resultType="int">
    select count(snum) from registration r,bookable b
    where b.bdate=trunc(sysdate) and starttime=#{starttime}
  	 and r.bid=b.bid and b.bid = #{bid}
    </select>
    </mapper>