<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 命名空间对应映射器接口 -->
<mapper namespace="com.dkx.dao.BookableMapper">

	<resultMap type="com.dkx.pojo.WeekBean" id="week-result">
  	<id property="doid" column="doid"/>
  	<id property="time" column="time"/>
  	<result property="doname" column="doname"/>
  	<result property="reg1" column="reg1"/>
  	<result property="reg2" column="reg2"/>
  	<result property="reg3" column="reg3"/>
  	<result property="reg4" column="reg4"/>
  	<result property="reg5" column="reg5"/>
  	<result property="reg6" column="reg6"/>
  	<result property="reg7" column="reg7"/>
  </resultMap>
  
  <select id="findBK" resultMap="week-result">
  	select distinct  do.doid,do.doname,
       <foreach collection="bklist" separator="," item="item" index="index">
       	(select decode(count(*) ,0,' ','值班坐诊') from BOOKABLE where doid = do.doid and starttime = -1 and bdate=to_date(#{item},'yyyy-MM-dd')) areg${index+1},
       	(select decode(count(*) ,0,' ','值班坐诊') from BOOKABLE where doid = do.doid and starttime = 1 and bdate=to_date(#{item},'yyyy-MM-dd')) preg${index+1}
       </foreach>
 	from doctors do left join  bookable b on b.doid = do.doid  where do.deid = #{deid}  and do.doexist =1 
  </select>
  
  
  <insert id="addBK" parameterType="com.daibingjie.pojo.Bookable">
  	<selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="bkid">  
       select Seq_Bookable.nextval from dual
   </selectKey> 
  	INSERT INTO Bookable(bid,doid,bdate,starttime,used,bnum,ynum,xcum,xcyum) VALUES (#{bkid},#{bk.doctors.doid},#{bk.bdate},#{bk.starttime},#{bk.used},#{bk.bnum},#{bk.ynum},#{bk.xcum},#{bk.xcyum})
  </insert>
</mapper>