<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 命名空间对应映射器接口 -->
<mapper namespace="com.dkx.dao.DrugMapper">

  
  <resultMap type="com.dkx.pojo.Drug" id="drug-result">
  	<id property="drid" column="drid"/>
  	<result property="drname" column="drname"/>
  	<result property="drsum" column="drsum"/>
  	<result property="drprice" column="drprice"/>
  	<result property="drstate" column="drstate"/>
  	<result property="dename" column="dename"/>
  	<result property="dyid" column="dyid"/>
  	<!-- 多对一映射 药品类型 -->
  	<association property="drugtype" javaType="com.dkx.pojo.Drugtype">
  		<id property="dyid" column="dyid"/>
  		<result property="dyname" column="dyname"/>
  		<result property="dystate" column="dystate"/>
  	</association>
  </resultMap>
  
  
  <resultMap type="com.dkx.pojo.Drugtype" id="type-result">
		<id property="dyid" column="dyid" />
		<result property="dyname" column="dyname"/>
		<result property="dystate" column="dystate"/>
	</resultMap>
  
  <select id="findAll" resultMap="drug-result">
  	select  dy.drid,drname,drsum,drprice,drstate,dyname,listagg(dename, ',') within group(order by dename) dename 
	 from (select drid,d.dyid,drname,drsum,drprice,drstate,dyname,dystate from  DRUG d,drugtype y where d.dyid = y.dyid)dy
 	left join (select drid,r.deid,dename,intro,deexist from DRUGANDDEPARTS r,DEPARTS e where r.deid = e.deid )re on dy.drid = re.drid
  	<where>
  	1 = 1
   <if test="price1 != null"> and drprice &gt;= #{price1}</if>
   <if test="price2 != null"> and drprice &lt;= #{price2}</if>
 	group by dy.drid,drname,drsum,drprice,drstate,dyname 
 	</where>
  </select>
  

</mapper>
